<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Employees</title>
</head>

<body>
    <h1>Employees</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Employee Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
        <% employees.forEach(employee=> { %>
            <tr>
                <td>
                    <%= employee.id %>
                </td>
                <td>
                    <%= employee.name %>
                </td>
                <td>
                    <%= employee.employee_number %>
                </td>
                <td>
                    <%= employee.email %>
                </td>
                <td>
                    <%= employee.address %>
                </td>
                <td>
                    <%= employee.phone_number %>
                </td>
                <td>
                    <a href="/update/<%= employee.id %>">Update</a>
                    <a href="/delete/<%= employee.id %>">Delete</a>
                </td>
            </tr>
            <% }); %>
    </table>
</body>

</html>